.landing-container {
  text-align: center;
  padding: 0; /* Remove padding to avoid scrolling */
  background-color: white;
  height: 100vh; /* Set height to full viewport height */
  overflow: hidden; /* Prevent scrolling */
}

.landing-content {
  margin-bottom: 5px;
  position: relative; /* Allow positioning of children */
  z-index: 1; /* Ensure content is above images */
}

.landing-content h1 {
  background: #fff;
  padding: 10px;
  width: 100%;
  margin: 0; /* No margin to avoid scrolling */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  color: black; /* Orange color */
}

.button-container {
  margin: 20px; /* Adjusted margin */
}

.sign-in-btn,
.sign-up-btn {
  background-color: #0061FE;
  color: white;
  border: none;
  padding: 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
  width: 200px;
}

.logo-land {
  width: 200px;
}

.sign-in-btn:hover,
.sign-up-btn:hover {
  background-color: #0756d6; /* Darker blue */
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px; /* Reduced margin */
}

.full-width-image {
  width: 100%;
  max-width: 1500px;
  height: auto; /* Maintain aspect ratio */
  max-height: calc(100vh - 150px); /* Ensure it fits within the viewport */
  margin: 0; /* No margin */
}

.mobile-pict {
  display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .landing-content h1 {
    font-size: 18px;
  }

  .sign-in-btn,
  .sign-up-btn {
    width: 100%;
    margin: 10px 0;
  }

  .image-container {
    flex-direction: column;
    overflow: hidden; /* Prevent internal vertical scrolling */
    height: auto; /* Ensure it fits within the viewport */
  }

  .full-width-image {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
}