.landing-container {
  text-align: center;
  padding: 0; /* Remove padding to avoid scrolling */
  background-color: white;
}

.landing-content {
  margin-bottom: 5px;
}

.landing-content h1 {
  background: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0; /* No margin to avoid scrolling */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  color: black; /* Orange color */
  z-index: 1; /* Ensure the header is above images */
}

.button-container {
  margin:20px; /* Adjusted margin */
}

.sign-in-btn,
.sign-up-btn {
  background-color: #0061FE;
  color: white;
  border: none;
  padding: 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
  width: 200px;
}

.sign-in-btn:hover,
.sign-up-btn:hover {
  background-color: #0756d6; /* Darker blue */
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.full-width-image {
  width: 100%;
  
  max-width:1500px;
  height: 700px;

  margin: 10px; /* No margin */
}
.mobile-pict{
  display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .landing-content h1 {
    font-size: 18px;
  }

  .sign-in-btn,
  .sign-up-btn {
    width: 100%;
    margin: 10px 0;
  }

  .image-container {
    flex-direction: column;
    overflow-x: hidden;
    margin-right:5px ;
    height: 100%;
  }


  .full-width-image {
    max-width: 100%;
  }
}