.loader-container {
    display: flex;
    flex-direction: column; /* Stack loader and text vertically */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height for centering */
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999; /* Ensure it's on top of everything */
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin: 0 5px;
    opacity: 0.7;
  }
  
  #left-dot {
    background-color: #FE7235;
    animation: load-left 2s forwards; /* Keep the final state */
  }
  
  #middle-dot {
    background-color: #0061FD;
    animation: none; /* No animation needed */
  }
  
  #right-dot {
    background-color: #FE7235;
    animation: load-right 4s forwards; /* Keep the final state */
  }
  
  @keyframes load-left {
    0%, 100% { transform: translateX(0); opacity: 1; }
    10%, 30% { transform: translateX(10px); }
    20%, 40% { transform: translateX(0); }
    50% { opacity: 0; }
  }
  
  @keyframes load-right {
    0% { transform: translateX(0); opacity: 0; }
    10% { opacity: 1; }
    20% { transform: translateX(-10px); }
    30% { transform: translateX(0); }
    40% { transform: translateX(-10px); }
    100% { opacity: 0; }
  }
  
  .loader-text {
    margin-top: 20px; /* Space between the dots and the text */
    font-size: 16px;
    color: #333; /* Text color */
    text-align: center; /* Center the text */
  }