* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  background: #f7f7f7;
  padding: 20px;
}

.icon1 {
  font-size: 30px;
}
.icon2 {
  background: #e5e5e5;
  font-weight: 100;
  color: black;
  padding: 12px;
  font-size: 55px;
  border-radius: 50%;
  overflow: visible;
}

.stat-card {
  display: flex;
  justify-content: left;
align-items: center;
  gap:40px;
  background: #ffffff;
  color: black;
  padding: 35px;
 
  border-radius: 4px;
  flex: 1;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Evenly spread soft shadow */
}
.card-count{
  display: grid;
  justify-content: center;
  align-items: center;
}
.stat-card p {
  text-align: center;
  color: black;
}
.stat-card p {
  text-align: center;
  color: black;
}

.stats-section {
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 70px;
  gap: 20px;
  padding: 10px;
}
.content-section {
  display: flex;
  background: #ffffff;
  gap: 20px;
}

.content-box,
.graph-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Evenly spread soft shadow */
  overflow-y: auto;
  height: 200px;
}
.user-illegal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
  margin-top: 10px;
}
table {
  width: 100%;
}
tr,
td,
th {
  border-bottom: 1px solid rgb(218, 214, 214);
  text-align: center;
}
.user-box {
  background: #ffffff;
  color: black;
  padding: 30px;
  border-radius: 10px;
  flex: 1;
  overflow-y: auto;
  height: 250px;
}
.user-box h3 {
  color: black;
}

.content-box li {
  display: flex;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  color: red;
  background: #ecebeb;
  padding: 5px;
  border-radius: 50%;
}
.edit-icon {
  color: #fe7235;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }
}

/* -------------------------------------------------- */
/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .main-content {
    position: absolute;
    top: 5px;
  }

  .content-section,
  .user-illegal {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .stats-section {
    display: grid;

    margin-top: 40px;
    width: 100%;
  }
  .stat-card {
    width: 100%;
  }
}

.menu-icon {
  display: none; /* Hide by default */
}

@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Show on small screens */
    color: black;
  }
}

/* 
-------------------------------------- */
/* For mobile devices */
@media (max-width: 768px) {
  /* Ensure the sidebar is initially hidden on mobile */

  /* Position menu icon (hamburger) */
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: black;
    position: absolute;
    left: 30px;
  }
}

/* graph */
.graph-box {
  width: 100%;
  padding: 20px;
  background: #ffffff;

  height: 250px;

  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Evenly spread soft shadow */
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.graph-box h3 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}


/* CustomAreaChart.css */
.chart-container {
  padding: 10px; /* Add padding for smaller screens */
}